%label
    transform: translateY(-25%)
    +ft(10, 10, 400, $ffHeading)
    margin-top: rem(-3)    


.btn
    +flex(inline-flex, center, center, nowrap)
    justify-content: space-evenly

    width: auto
    padding: rem(12) rem(24)
    +ft(16, 16, 600, $ffHeading)

    border-radius: $brs
    border: 2px solid $main


    &_top
        +ps(fixed, (b, 10px), (r, 10px))
        +flex(flex, center, center, nowrap)
        +sz(45px, 45px)

        transform: rotate(180deg)

        +theme(dark)
        stroke: $white
        border: none
        border-radius: $brs

    &_bg
        @extend .btn
        +sz(242px, 48px)
        padding: rem(4)
        +theme(main)

        &:hover, &:active, &:focus
            background-color: transparent
            border-color: $main
            color: $gray

            outline: none
            appearance: none
            box-shadow: none

        &-gray
            +flex(flex, center, center, wrap)

            padding: rem(30) rem(25)
            margin: rem(0) auto

            height: rem(106)
            max-width: rem(378)
            width: 100%

            +ft(14, 14, 600, $ffHeading)
            +theme(gray)
            text-align: center
            border-radius: $brs
            border: 1px solid transparent
            transition: $trs

            &:hover, &:active, &:focus
                background-color: transparent
                border-color: $main
                color: $gray

    &_call
        @extend .btn, .btn_bg
        +sz(198px, 48px)

        +maw($sm)
            +sz(30px, 30px)
            min-width: auto
            padding: rem(6)
            border-radius: 50%

            svg
                +mg((r, 0))
              
            span
                display: none
               


.form
    +mg((t, 45px))

    .btn
        display: block
        @extend .btn_bg
        width: 100%
        max-width: 100%
        min-width: auto

    &__label
        +ps(absolute, (t, 0), (b, 0), (l, 16px))
        +flex(flex, center, flex-start, nowrap)
        width: 100%

        +mg((all, auto))
       

        +ft(14, 14, 400, $ffHeading)

        text-align: left

        transition: $trs
        user-select: none

        strong
            +mg((r, 5px))
            color: $red

        &_success
            +ft(14, 14, 500, $ffHeading)
            color: $green

        &_tel
            @extend .form__label
            transform: translateY(-25%)
            margin-top: -3px
            +ft(10, 10, 400, $ffHeading)

    &__group
        position: relative
        z-index: 1

    &__wrap
        @extend %card
        color: $gray

        margin: 40px auto 20px

        max-width: rem(461)
        width: rem(461)

        padding: rem(45)

        text-align: center

        transition: $trs

        &:hover, &:active, &:focus
            border-color: transparent

        +maw($sm)
            padding: 10%
            width: 100%

    &__title
        +ft(28, 34, 800, $ffHeading)

    &__subtitle
        +mg((t, 12px))
        +ft(16, 24, 400, $ffHeading)

    &__field
        position: relative
        display: block
        z-index: 2

        +mg((t, 20px), (b, 20px))
        padding: rem(8) rem(16)

        width: 100%

        //+ft(16, 25, 400, $ffText)
        +ft(14, 25, 400, $ffText)

        background-color: transparent
        border-radius: $brs0
        border: $bd2
        color: $black

        transition: $trs
        user-select: none

        &:hover, &:focus
            border-color: $green

        &:focus
            & + .form__label
                @extend %label
                
                border-color: $green

        &:not(:placeholder-shown).form__field:not(:focus) + .form__label
            @extend %label
           
            border-color: $green

        &_error
            border-color: $red

.modal
    &-content
        background: transparent
        border: none


.btn-check:checked+.btn-secondary:focus, .btn-check:active+.btn-secondary:focus, .btn-secondary:active:focus, .btn-secondary.active:focus, .show>.btn-secondary.dropdown-toggle:focus
    box-shadow: none

.js-validate-error-label 
    +ps(absolute, (t, -30%), (l, 0))
    +ft(10, 10, 500, $ffHeading)


.navbar-toggler
    +pd((all, 0))
    &:focus
        box-shadow: none