{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.homepage.section_5 }}
{{ with $data.homepage.section_5 }}


<section class="section section__5">
    <div class="section_container">
        <div class="section_row">

            <div class="col-lg-5 row__2">

                <figure class="box box_content">

                    <h2>
                        {{ .title | markdownify }}
                    </h2>
                    <p>
                        {{ .title_sub | markdownify }}
                    </p>

                </figure>

            </div>

            <div class="col-lg-7">

                <ul class="str">
                    {{ range .str }}

                    <li class="str_item">
                        <table>
                            <tr>
                                <td class="str_num">
                                    {{ .num }}
                                </td>
                                <td class="str_content">
                                    <h4>
                                        {{ .title }}
                                    </h4>

                                    <p>
                                        {{ .description }}
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </li>

                    {{ end }}
                </ul>

            </div>

        </div>
    </div>
</section>

{{ end }}
{{ end }}