{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.homepage.section_1 }}
{{ with $data.homepage.section_1 }}


<section class="section section_1">
    <div class="section__container">
        <div class="section__row justify-content-center">


            <div class="section__hgroup">
                <h2>
                    {{ .title | markdownify }}
                </h2>
                <p class="text_sub">
                    {{ .title_sub | markdownify }}
                </p>
            </div>

            <div class="card__wrap">

                {{ range .cards }}
                <div class="card__item">

                    <div class="card">

                        <picture>
                            <source srcset="{{ .icon_webp | relURL }}" type="image/webp" alt="{{ .Title }}" class="card__img" width="368" height="267">
                            <img src="{{ .icon | relURL }}" alt="{{ .Title }}" class="card__img" width="100%" height="auto">
                        </picture>

                        <div class="card__title">
                            {{ .title | markdownify }}
                        </div>
                    </div>

                </div>
                {{ end }}

            </div>

            {{- partial "_btn.html" . -}}

        </div>
    </div>
</section>

{{ end }}
{{ end }}